[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/dear_imgui"]
	path = external/dear_imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/sfml"]
	path = external/sfml
	url = https://github.com/SFML/SFML.git
